In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("calories.csv")

In [17]:
dataset.head(50)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
17        45     90       112       NaN
18        60    103       123     323.0
19        45     97       125     243.0
20        60    108       131     364.2
21        45    100       119     282.0
22        60    130       101     300.0
23        45    105       132     246.0
24        60    102       126     334.5
25        60    100       120     250.0
26        60     92       118     241.0
27        60    103       132       NaN
28        60    100       132     280.0
29        60    102       129     380.3
30        60     92       115     243.0
31        45     90       112     180.1
32        60    101       124     299.0
33        60     93       113     223.0
34        60    107       136     361.0
35        60    114       140     415.0
36        60    102       127     300.0
37        60    100       120     300.0
38        60    100       120     300.0
39        45    104       129     266.0
40        45     90       112     180.1
41        60     98       126     286.0
42        60    100       122     329.4
43        60    111       138     400.0
44        60    111       131     397.0
45        60     99       119     273.0
46        60    109       153     387.6
47        45    111       136     300.0
48        45    108       129     298.0
49        60    111       139     397.6

In [18]:
dataset.iloc[17]

Duration     45.0
Pulse        90.0
Maxpulse    112.0
Calories      NaN
Name: 17, dtype: float64

In [8]:
dataset.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [14]:
dataset.fillna(375.790244).head(28)

    Duration  Pulse  Maxpulse    Calories
0         60    110       130  409.100000
1         60    117       145  479.000000
2         60    103       135  340.000000
3         45    109       175  282.400000
4         45    117       148  406.000000
5         60    102       127  300.000000
6         60    110       136  374.000000
7         45    104       134  253.300000
8         30    109       133  195.100000
9         60     98       124  269.000000
10        60    103       147  329.300000
11        60    100       120  250.700000
12        60    106       128  345.300000
13        60    104       132  379.300000
14        60     98       123  275.000000
15        60     98       120  215.200000
16        60    100       120  300.000000
17        45     90       112  375.790244
18        60    103       123  323.000000
19        45     97       125  243.000000
20        60    108       131  364.200000
21        45    100       119  282.000000
22        60    130       101  300.000000
23        45    105       132  246.000000
24        60    102       126  334.500000
25        60    100       120  250.000000
26        60     92       118  241.000000
27        60    103       132  375.790244